    body{
        
     height: 100%;
     background: linear-gradient(180.22deg, #7E5002 20.16%, #E69405 36.19%, #FAD121 98.57%);
     background-repeat: no-repeat; 
     background-color: #FAD121;
    
}