.sub-title {

    font-family: "Bungee";
   font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;
    font-style: normal;
    text-align: center;
    margin-bottom: var(--gap-medium);
    color: #73263D;
}